.navigation-link .active {
  font-weight: 700;
  border-bottom: 2px solid #2dd4bf;
  padding-bottom: 1px;
  transition: 0.1s;
  border-radius: 2px;
  padding: 5px;
}

.navigation-link {
  color: white;
  border-radius: 2px;
  background-color: none;
  padding: 5px;
}
